.App{
  display: flex;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: center;
}

.todo_container{
  background-color: rgba(22, 96, 136, 0.5);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 95%;
  border-radius: 25px;
  position: relative;
}

.header{
  color: white;
  margin: 10px;
}

.reset{
  position: absolute;
  margin: 15px;
  border: none;
  right: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  transition: all 2s ease-in-out;
}

.reset img{
  object-fit: cover;
  height: 2rem;
  animation: rotateButton 2s ease-out 0s 1 normal none;
  transition: all 2s ease-in-out;
}

.reset:hover img{
  transform: rotate(360deg);
}


.input_container{
  /* border: 1px solid white; */
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
  padding: 10px;
}
input{
  color: white;
  font-size: 1rem;
  border: none;
  height: 25px;
  width: 40%;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: black;
  outline: none;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 10px;
  overflow-y: scroll;
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.button_container{
  display: flex;
  gap: 10px;
}
/* Checkbox */
#checkbox{
  height: 20px;
  width: 20px;
}

/* buttons */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 10px 40px;
  }
}