@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Orbitron:wght@600&family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    height: 100vh;
    width: fit-content;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background: rgb(22, 96, 136);
}
::-webkit-scrollbar-thumb{
    background: #005bea;
    border-radius: 50vw;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}